.button {
  min-width: 180px;
  padding: 10px 25px;
  background-color: $farmdrop-green;
  border: none;
  color: white;
  font-size: 1em;
  margin: 15px 0;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}
