//standard colors
$farmdrop-green: #00B495;
$dropdown-grey: #ECF1EA;
$dropdown-green: #335653;
$grey-dark: #8A8888;
$grey-light: #dae4d6;
$grey-lighter: #e9e8e8;
$selected-green: #305350;
$sale-red: #B30237;

//standard layout sizes
$header-height: 100px;
$sub-header-height: 50px;
$top-margin: 150px;
$standard-side-margin: 60px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}
