//standard colors
$farmdrop-green: #00B495;
$dropdown-grey: #ECF1EA;
$dropdown-green: #335653;
$grey-dark: #8A8888;
$grey-light: #dae4d6;
$grey-lighter: #e9e8e8;
$green-dark: #315350;
$sale-red: #B30237;

//standard layout sizes
$header-height: 100px;
$sub-header-height: 50px;
$tablet-top-margin: 150px;
$mobile-top-margin: 120px;
$tablet-side-margin: 60px;
$mobile-side-margin: 20px;

//standard breakpoints
$break-small: 376px;
$break-tablet: 768px;
$break-desktop: 992px;
$break-giant: 1170px;

@mixin bp-small {
  @media only screen and (min-width: 0px) {
    @content;
  }
}

@mixin bp-tablet {
  @media only screen and (min-width: $break-tablet) {
    @content;
  }
}

@mixin bp-desktop{
  @media only screen and (min-width: $break-desktop) {
    @content;
  }
}

@mixin bp-giant {
  @media only screen and (min-width: $break-giant) {
    @content;
  }
}

//fonts
@mixin fontface($name, $file, $weight: normal, $style: normal){
  @font-face {
    font-family: "#{$name}";
    src: url('/fonts/#{$file}.eot');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}
