.productGrid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 60px;
}
.productTile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  flex: 0 0 24%;
  .productTile__image {
    max-width: 100%;
  }
  .productTile__actionButtons {
    display: flex;
    justify-content: space-between;
    .productTile__bookmark {
      width: 35px;
      height: 35px;
      border: 1px solid $grey-light;
      margin: auto 0;
    }
  }
  .productTile__info {
    text-align: left;
    padding: 0 15px;
    .productTile__info--producer {
      color: $farmdrop-green;
      margin-bottom: 1em;
    }
    .productTile__info--priceWrapper {
      display: flex;
      justify-content: space-between;
    }
    .productTile__info--measurement {
      margin: 1em 0;
      text-transform: uppercase;
      color: $grey-dark;
    }
    .productTile__info--saleText,
    .productTile__info--salePrice, {
      color: $sale-red;
      margin-bottom: 1em;
    }
    .productTile__info--initialPrice {
      text-decoration: line-through;
      margin-bottom: 1em;
    }
  }
}
